In [5]:
import numpy as np
import pandas as pd

In [16]:
dict1 ={
    "Date":['Day','Week','Month','Year',],
    "Location":['Hotel Name','Hotel location','City','Country'],
    "Agents":['Travel agents','Agents name','Agents Address','Agents contact info'],
    "Customers": ['Customer ID','Customer name','Customer Address','Customer contact info'],
    "Room Types" :['Room single','Room double','Room suite','A\C Non A\C'],
    "Rate Plans" :['Price','Packages','Non-refundable rate','Advance Purchase rate']
}

In [17]:
df = pd.DataFrame(dict1)

In [18]:
df

,Date,Location,Agents,Customers,Room Types,Rate Plans
0,Day,Hotel Name,Travel agents,Customer ID,Room single,Price
1,Week,Hotel location,Agents name,Customer name,Room double,Packages
2,Month,City,Agents Address,Customer Address,Room suite,Non-refundable rate
3,Year,Country,Agents contact info,Customer contact info,A\C Non A\C,Advance Purchase rate

In [21]:
df.to_csv('Datawarehouse.csv',index=False)