# Python Data Classes

In [1]:
from dataclasses import dataclass

In [2]:
@dataclass
class Person:
    name:str
    age:int
    profession:str

In [3]:
"""class Person:
    def __init__(self,name,age,profession):
        self.name=name
        self.age=age
        self.profession=profession
        """

'class Person:\n    def __init__(self,name,age,profession):\n        self.name=name\n        self.age=age\n        self.profession=profession\n        '

In [4]:
person1=Person('Jawad',20,"SE")

In [5]:
person1.age

20

In [6]:
person1.name

'Jawad'

In [7]:
@dataclass
class Rectangle:
    width:int
    height:int
    color:str='white'

In [8]:
rectangle1=Rectangle(12,14)
rectangle2=Rectangle(13,15,'red')

In [9]:
rectangle2.color

'red'

In [10]:
@dataclass(frozen=True)
class Point:
    x:int
    y:int

In [11]:
point=Point(3,4)

In [12]:
point.x

3

In [13]:
point.y

4

In [14]:
point.x=5

FrozenInstanceError: cannot assign to field 'x'

In [ ]:
## inheritance

@dataclass
class Person:
    name:str
    age:int

@dataclass
class Employee(Person):
    employee_id:str
    depart:str

In [ ]:
person=Person('Jawad',20)
employee=Employee('Jawad',20,"123",'SE')

In [ ]:
employee.name

In [ ]:
employee.age

In [ ]:
employee.employee_id

In [ ]:
employee.depart

In [ ]:
person.age

In [ ]:
person.name

In [15]:
## Nested Dataclasses

@dataclass
class Address:
    street:str
    city:str
    zip_code:str

@dataclass
class Person:
    name:str
    age:str
    address:Address

In [16]:
address=Address('123 Main Street','Larkana','7071')

In [17]:
person=Person('Jawad',20,address)

In [19]:
person.address.city

'Larkana'